<div fxLayout="row">
  <!-- set reminder for notes -->
  <button mat-icon-button *ngIf = "!hideIcon" mat-icon-button [matMenuTriggerFor]="reminder" style="outline: none">
    <mat-icon>add_alert</mat-icon>
    <mat-menu #reminder="matMenu">
        <button  mat-menu-item (click)="Today(childMessageIcon)" style="outline: none">Later today 8:00PM </button>
        <button mat-menu-item (click)="Tomorrow(childMessageIcon)" style="outline: none">Tomorrow 8:00AM</button>
        <button mat-menu-item (click)="nextWeek(childMessageIcon)" style="outline: none">Next Week 8:00AM</button>
        <button mat-menu-item style="outline: none">Pick date & time</button>
    </mat-menu>
  </button>

  <!-- Add collaborators -->
  <button mat-icon-button *ngIf = "!hideIcon"mat-icon-button>
    <mat-icon >person_add</mat-icon>
   
  </button>

  <!-- color array -->
  <button *ngIf = "!hideIcon" mat-icon-button [matMenuTriggerFor]="aboveMenu">
    <mat-icon >color_lens</mat-icon>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <div fxLayout="row wrap">
        <div *ngFor="let color of colorArray">
          <div *ngFor="let itemcolor of color">
            <div class="mat-icon-color" [ngStyle]="{'background': itemcolor.color }"
              (click)="setcolor(itemcolor.color)"></div>
          
          </div>
        </div>
      </div>
    </mat-menu>
  </button>

  <!-- photo icon button -->
  <button mat-icon-button matTooltip="Add image" *ngIf = "!hideIcon" (click)="fileInput.click()" mat-icon-button>
    <mat-icon>photo</mat-icon>
    <input #fileInput (change)="onFileChanged($event)" style="display: none" type="file">
  </button>

  <!-- archive notes icon button -->
  <button mat-icon-button *ngIf = "!hideIcon" mat-icon-button (click)="Archive()">
    <mat-icon >archive</mat-icon>
  </button>

  <!-- more_vert mat-menu -->
  <button mat-icon-button [matMenuTriggerFor]="aboveMenu1">
    <mat-icon>more_vert</mat-icon>
    <mat-menu #aboveMenu1="matMenu">
      <button *ngIf = "!hideIcon" mat-menu-item (click)="Trash()">Delete</button>
      <button  *ngIf = "hideIcon" mat-menu-item (click)="Restore()">Restore</button>
      <button  *ngIf = "hideIcon" mat-menu-item (click)="DeleteForever()">Delete_Forever</button>
      <button *ngIf = "!hideIcon" mat-menu-item [matMenuTriggerFor]="aboveMenu2">Add Label</button>
      <mat-menu #aboveMenu2 = "matMenu">
         <div class = "label">Label Note</div>
            <input type= "text" class="inputLabel" [(ngModel)] = "label" placeholder="Enter label name">
            <div>
              <button mat-icon-button (click) = "AddLabel($event)">add Label</button>
              </div>
          </mat-menu>
    </mat-menu>
  </button>
</div>