<div class="labeldialog">
    <h6 mat-dialog-title>Edit labels</h6>
    <div>
      <input style="border: 0px;outline: none"matInput placeholder="create new lable" [formControl]="label">
    </div>
    <mat-divider></mat-divider>
    <div *ngFor="let label of notesLabel">
      <div fxLayout="row">
        <button style="outline: none" mat-button (click)="delete(label)">
          <i class="material-icons" >delete </i>
          </button>
      <input style="border: 0px;outline: none;justify-content: center" mat-input [(ngModel)]=label.label>
      <button  style="outline: none" mat-button (click)="update(label)">
      <mat-icon >done</mat-icon>
      </button>     
    </div>
    </div>
    <div mat-dialog-actions>
      <button class = "labelbutton" mat-button (click)='close()' cdkFocusInitial>Done</button>
  </div>
</div>
    