
<mat-card>
  <div fxLayout="row" fxLayoutAlign="center center" >
    <div>
    <mat-card-title>FundooApp</mat-card-title>
    <mat-card-subtitle>Create FundooApp Account</mat-card-subtitle>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field appearance="outline">
         <mat-label>FirstName</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>FirstName</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field> 
    </div>
    </div>
</mat-card>