<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
         
          <mat-card-title>FundooApp</mat-card-title>
          <mat-card-subtitle>Create FundooApp Account</mat-card-subtitle>
         
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap = "10px">
              <mat-form-field appearance="outline">
               <mat-label>FirstName</mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>LastName</mat-label>
                  <input matInput placeholder="Placeholder">
              </mat-form-field>
          </div>

          <div >
              <mat-form-field appearance="outline" flex = "50">
                  <mat-label>EmailId</mat-label>
                  <input matInput placeholder="Placeholder">
              </mat-form-field> 
          </div>

      </mat-card>
</div>