<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" fxFlex='100'>
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="gb_pa gb_de gb_za" alt="" aria-hidden="true"
      src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"
      srcset="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_48dp.png 2x "
      style="width:40px;height:40px">
    <span>
      <h1 class="example-app-name">FundooNotes</h1>
    </span>

    <div  fxLayout = "row" fxFlex="100">
        <!-- serch the notes with title and description -->
        <div style="width: 600px" fxflex="50" class="searchbar" >
            <button mat-icon-button class="fundoo31">
                <mat-icon>searchbox</mat-icon>
            </button>
              <input (keyup)="search($event)" type="search"  class = "input-search" matInput placeholder="search">
        </div>
   
          <!-- refresh the page  -->
        <div  fxLayout="row" fxFlex="100" fxLayoutGap="10px" fxLayoutAlign="end center " >
          <div >
              <button mat-icon-button (click)="refresh()"><mat-icon>refresh</mat-icon></button>
          </div>

          <!-- Grid view list of the notes -->
          <div >
              <button mat-icon-button style="outline: none" fxHide.xs=true>
                  <mat-icon>
                    <img style="margin-bottom: 10px" src="../../assets/image/Grid.svg" *ngIf="!islist" />
                    <!-- <img style="margin-bottom: 10px" src="../../assets/image/list.svg"/> -->
                  </mat-icon>
                </button>
          </div>

          <!-- Profile pic upload -->
          <div>
              <img [matMenuTriggerFor]="aboveMenu1" style="cursor: pointer;" mat-card-avatar src="{{Image}}">
                  <mat-menu #aboveMenu1="matMenu">  
                   
                    <div class = "profile" fxLayout="row" fxLayoutAlign="space-between center"  fxFlex = 100>
                      <div>
                      <img mat-card-avatar src="{{Image}}" (click)="openDialog()"
                       style="cursor: pointer; width: 100px;height:100px;border-radius: 50%;">
                      </div>
                        <div>
                          <div class="profileName">
                              {{FirstName}}
                          </div>
                          <div class="profileEmail">
                              {{Email}}
                          </div>
                        </div>
                    </div>
                  
                  <mat-divider></mat-divider>
                  <div fxLayout = "row" fxLayoutAlign="space-between center">
                  
                    <button class="signout"mat-button (click)="AddAccount()">
                    Add Account
                  </button>
                  <!-- <button class="signout"  style="margin-left: 192px"mat-button (click)="signOut()"> -->
                    <button class="signout" mat-button (click)="signOut()">
                    Sign out
                  </button>
                  </div>
                  
                </mat-menu>
          </div>
        </div>
    </div>

  </mat-toolbar>
<mat-divider></mat-divider>


  <!-- side navigation -->

  <mat-sidenav-container class="example-sidenav-container" fxFlex='100'>
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list class="SideNav" style="width:140px">
        <div>
          <a mat-list-item routerLink="."><img src="../../../assets/image/bulb.svg" style="padding-right: 20px;">Notes</a>
        </div>
        <div fxLayoutGap=10px>
          <a mat-list-item routerLink="reminder">
            <mat-icon class="material-icons" style="padding-right: 20px;">notifications</mat-icon>Reminder
          </a>
        </div>
        <mat-divider style="padding-bottom:10px"></mat-divider>
        <!--Label click model -->
        <div>
          <!-- <a mat-list-item><img (click)="openLabelDialog()" src="../../../assets/image/edit.svg">Label</a> -->

          <a mat-button (click)="openLabelDialog()">
              <i class="material-icons" style="padding-right: 20px;">edit</i>Edit Label </a>
          </div>
        <mat-divider></mat-divider>
        
        <div>
          <a mat-list-item routerLink="archive">
            <mat-icon style="padding-right: 20px;">archive</mat-icon>Archive
          </a>
        </div>

        <div>
          <a mat-list-item routerLink="trash">
            <mat-icon style="padding-right: 20px;">restore_from_trash</mat-icon>Trash
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

