.example-container {
  // display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}
.mat-toolbar{
  height: 56px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.input-search{
  margin-left:10px;
  width: 200%;
  font-size: 16px;
  padding: 7px 20px 10px 5px;
  border: 1px;
  outline: none;
  margin-right: 10px;
}

@media screen and (min-width: 600px) {
  .input-search{
    margin-left:10px;
    width: 100%;
    font-size: 16px;
    padding: 7px 20px 10px 5px;
    border: 1px;
    outline: none;
    margin-right: 10px;
  }
  
}

.fundoo31 {
  margin-left: 10px;
  opacity: 0.5;
  left:23px;
  bottom: -3px;
}

.searchBar{
  display: flex;
  width: 50%;

  border-radius:1px;
  }
  .gbii::before {
    content: url(https://lh3.googleusercontent.com/-iZ_z88h9KiA/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rfVAZHgxBxIT9rmOazfKM8VQB4lTg.CMID/s32-c/photo.jpg);
}

// .search {
//   background: transparent;
//   border: none;
//   font: normal 16px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
//   font-variant-ligatures: none;
//   height: 46px;
//   outline: none;  
//   box-sizing: border-box;
// }

   .profileEmail {
    box-sizing: border-box;
    text-align: center;
    width: 10%;
    display: block;
    padding: 34px;
    margin-left: -32px;
    margin-top: -28px;
    opacity: 0.6;
    overflow: none
  }
  .profile{
    overflow: hidden;
    outline: none;
    scroll-margin: none
  }