<div fxLayout="row wrap" style="margin-top: 40px" fxFlexOffset="15" fxLayoutAlign="start center center">
  <div *ngFor="let item of childMessage">
    <mat-card class = "displayNote" [ngStyle]="{'background-color':item.color}">
      <div fxLayout=" column">
        <div>
          <p>{{item.title}}</p>
          <p>{{item.description}}</p>
          
          <mat-chip-list *ngIf="item.reminder!=null">
          <mat-chip>{{item.reminder}}</mat-chip>
        </mat-chip-list>
        </div>
      </div>

      <div class="icon" >
        <app-icon [childMessageIcon]="item" [hideIcon] = "hideIcon"></app-icon>
      </div>

    </mat-card>
  </div>
</div>