/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.blue
{
    color:blue
}
.red
{
    color:red
}
.yellow
{
    color:yellow
}
.green
{
    color:green
}
.button
{ 
    background-color: rgb(76, 152, 175); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 40%;
    margin: auto;
    padding: 25px;
    margin-top: 5%;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 10px;
    }

    .color{
        color: cornflowerblue;
        cursor: pointer;
        display: inline-block;
        font-family: 'Google Sans',arial,sans-serif;
        font-weight: 800;
        letter-spacing: .25px;
        line-height: 36px;
        padding: 6px 0;
        position: relative;
        outline: none;
    }

    
.material-icons{
    outline: none;
}
