<div class = "main" fxLayoutAlign="center center" fxFlex = 100>
    <mat-card class = "example-card">
         <mat-card-title fxLayout="row" fxLayoutAlign="center center">
            <span class="blue">F</span>
             <span class="red">u</span>
             <span class="yellow">n</span>
             <span class="blue">d</span>
             <span class="green">o</span>
             <span class="red">o</span>
             <span class="green">A</span>
             <span class="red">p</span>
             <span class="blue">p</span>  
        </mat-card-title>
        <div class = "main">
          <mat-card-title fxLayout="row" fxLayoutAlign="center center">Account Recovery</mat-card-title>
        </div>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div  fxLayout="row" fxLayoutGap = "10px" fxLayout.xs = "column">
              <mat-form-field [style.fontSize.px]="12" appearance="outline" fxFlex = "100" fxFlex.xs = "100">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Placeholder">
             </mat-form-field>  
          </div>
          <div>
            <mat-hint [style.fontSize.px]="12">You can use letters & numbers </mat-hint>
          </div>
          <div  fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs = "column">
                <a href = "\login" [style.fontSize.px]="12" fxLayoutAlign="start center" fxFlex= 100 fxFlex.xs = 100>Sign In Instead</a>  
                <div fxLayout="row" fxLayoutAlign="end center" fxFlex= 100 fxFlex.xs = 100>
                <button [style.fontSize.px]="12" mat-button class= "button" >Next</button>
                </div>
          </div> 
        </form>             
      </mat-card>
</div>